//Colors
$dark: #333;
$grey: rgba(51, 51, 51, 0.5);
$green: #4bee6f;
$blue: #1ff0d7;

//Font Size
$h1: 3.125rem;
$h2: 2.1875rem;
$section_description: 1.25rem;
$h2_smaller: 1.5625rem;
$h3: 1.125rem;
$p: 0.9375rem;

// Font weight
$bold: 700;
$semi_bold: 600;
$medium: 500;
$regular: 400;

// Font family
$text: 'Roboto';
$title: 'Raleway';
